<h4>Welcome to</h4>
<p>
    Confirm your email address by clicking the link below: <br><br>
    <a href="{{ signedUrl|raw }}">Email confirmation</a><br>
    Attention, the link expires in{{ expiresAt|date('g') }} hour(s).
</p>
<br>
<p>All the best!</p>
