<h1>¡Hello!</h1>

<p>To reset your password, visit the following link</p>

<a href="http://localhost:3000/auth/forgot-password/{{ resetToken }}">http://localhost:3000/auth/forgot-password/{{ resetToken }}</a>

<p>¡Greetings!</p>
